
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin: 0;
    background: #F38E8E;
}



.heading{
    background-color: aqua;
    color: rgba(0, 48, 32, 0.74);
    text-align: center;
}

.options a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 20px;
    margin: auto;
    float: left;
    background-color: darkgoldenrod;
    border: 20px;
    border-color: midnightblue;
}

.box {
    flex-grow: 1;
    font-size: 24px;
    height: 280px;
    width: 300px;
    margin: 10px 10px 60px 10px;
    padding: 30px;
    background-color: rgb(60, 156, 108);
    border-radius: 20px;
    transition: 0.9s;
  }
  
  .box a {
    color: inherit;
    text-decoration: none;
  }
  
  .box a:hover {
    transition: 0.4s;
    margin-left: 10px;
  }
  

.box:hover{
    background-color: darkolivegreen;
    transition: ease;
}

.box:active{
    background-color: darkred;
}