body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
    background-color: lightgray;
}



.heading{
    background-color: aqua;
    color: purple;
}

.options a{
    text-decoration: none;
    color: darkmagenta;
}


.box{
    padding: 15px;
    border: 15px;
    width: 500px;
    margin: auto;
    float: left;
    background-color: darkgoldenrod;
}

.box:hover{
    background-color: darkolivegreen;
}

.box:active{
    background-color: darkred;
}