
body{
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin: 0;
    background: #F38E8E;
}



.heading{
    background-color: #908AD0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.options a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.options{
    display: flex;
}


.box{
    width: 30%;
    text-align: center;
    padding: 20px;
    margin: 25px;
    background-color: darkgoldenrod;
}

.box:hover{
    background-color: darkolivegreen;
    transition: ease;
}

.box:active{
    background-color: darkred;
}